
@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Welcome <uppercase>@TempData["username"]</uppercase></h2>

<h4 class="text-center">Final Admin Dashboard</h4>