@model EPM.Models.AdminLoginClass

@{
    ViewData["Title"] = "AdminLoginIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="errmsg" style="margin-top:2em;margin-left:20em; position:fixed;">
    <div class="col">
        <h1 class="text-danger"> @Html.ViewData["Message"]</h1>
        @*<h1 class="text-danger">User Login Details Failed</h1>*@
    </div>
</div>
<br />
<div class="container card" style="width: 25rem; height: 20rem; margin-top: 110px;">
    <div class="card-body">
        <h5 class="card-title text-center font-weight-bold">Admin Login</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
        <form asp-action="AdminLoginIndex">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminUserName" class="control-label"></label>
                <input asp-for="AdminUserName" class="form-control" id="txtaduname"/>
                <span asp-validation-for="AdminUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <input asp-for="AdminPassword" class="form-control" id="txtadupass" />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
                <a href="~/UserLogin/LoginIndex" class="card-link">Employee Login</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" id="btnLogin" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $("#errmsg").fadeOut(5000);
    $("#txtaduname").val("adityap");
    $("#txtadupass").val("admin");
</script>