
@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p class="text-center hidden" id="hdnValn">@TempData["username"]</p>

<!-- Welcome Message -->
<div id="hdnVal"></div>
<h4 class="text-center">Final Admin Dashboard</h4>
<h2 class="text-center" id="txtWlcm"></h2>





<script>

    let val = document.getElementById("hdnValn").innerText;

    sessionStorage.setItem("username", val);
    var username = sessionStorage.getItem("username");
    console.log(username);
    document.getElementById("txtWlcm").innerHTML = "Welcome " + username;

    //let sessionval = sessionStorage.getItem("username");


</script>