
@{
    ViewData["Title"] = "GenerateSalary";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .row {
        margin-bottom: 10px;
    }
</style>

<div id="Heading">
    <h1 class="text-center font-weight-bolder"><i class="fa fa-money"></i> Generate Salary</h1>
</div>

<div id="dvFindSalarySlip" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-4">
            <label for="ddlGndr" id="lblGender">Select Employee</label>
            <select class="form-control" id="ddlempdetail">
                <option selected value="0">Select Employee</option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="txtDob" id="lblDate"><i class="fa fa-calendar"></i> Date of Salary</label>
            <input type="date" class="form-control" id="txtDob" placeholder="1999-07-10">
        </div>

        <div class="col-md-4" style="margin-top:20px;">
            <input id="btnsalary" type="button" value="Generate Salary" class="btn btn-success" />
        </div>
    </div>
  
</div>

<div id="showDetails">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">EmpId: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>First Name:</b> </td>
                <td><b>Middle Name:</b> </td>
                <td><b>Last Name:</b> </td>
            </tr>
            <tr>
                <td><b>Salary:</b> </td>
                <td><b>Adhaard Card Number:</b> </td>
                <td><b>PanCard Number:</b> </td>
            </tr>
            <tr>
                <td><b>Bank Account No:</b> </td>
                <td><b>Bank IFSC:</b> </td>
                <td><b>Bank Branch:</b> </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="sendsalary">
    <div class="text-center" style="margin-top:20px;">
        <input id="btnssalary" type="button" value="Send Salary" class="btn btn-success" />
    </div>
</div>
<script>

    $(document).ready(function () {
        GetEmpDetails();
        $("#showDetails").css({
            "display":"none"
        })
        $("#sendsalary").css({
            "display": "none"
        })
        $("#btnsalary").click(function () {
            $("#showDetails").css({
                "display": "block"
            })
            $("#sendsalary").css({
                "display": "block"
            })
            var c = $("#ddlempdetail").val();
            console.log(c);
            ShowData();
        })

        $("#btnssalary").click(function () {
            Savsal();
        })
    })

    function GetEmpDetails() {
        //$("#ddlempdetail").html('');
        var strdata = '';
        jQuery.support.cors = true;
        $.ajax({
            url: '/api/APIDDLEmpName/GetEmpNames',
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                var sr = 0;
                $.each(data, function (key, item) {
                    sr += 1;
                    strdata = '<option value = "' + item.empid + '" > ' + item.fname + " " + item.mname + " " + item.lname + '</option >'
                    $("#ddlempdetail").append(strdata);
                });
            },
            error: function (jqXHR, textStatus, err) {
                alert(err);
            }
        })
    }

    function ShowData() {
        $("#showDetails").html('');
        var strdata = '';
        var c = $("#ddlempdetail").val();
        jQuery.support.cors = true;
        $.ajax({
            url: '/api/APIGS/GetSInf?username=' + c,
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                var sr = 0;
                $.each(data, function (key, item) {
                    sr += 1;
                    strdata = '<table class="table">'+
                        '<thead>'+
                            '<tr>'+
                                '<th scope="col">EmpId: '+item.empid+'</th>'+
                            '</tr>'+
                        '</thead>'+
                        '<tbody>'+
                            '<tr>'+
                                '<td><b>First Name:</b> '+item.fname+'</td>'+
                                '<td><b>Middle Name:</b> '+item.mname+'</td>'+
                                '<td><b>Last Name:</b> '+item.lname+'</td>'+
                            '</tr>'+
                            '<tr>'+
                                '<td><b>Salary:</b> '+item.salary+'</td>'+
                                '<td><b>Adhaar Card No:</b> '+item.adcnum+'</td>'+
                                '<td><b>PanCard Number:</b> '+item.pannum+'</td>'+
                            '</tr>'+
                            '<tr>'+
                                '<td><b>Bank Account No:</b> '+item.bnkAcc+'</td>'+
                                '<td><b>Bank IFSC:</b> '+item.bnkBr+'</td>'+
                                '<td><b>Bank Branch:</b> '+item.bnkIfsc+'</td>'+
                            '</tr>'+
                        '</tbody>'+
                        '</table>'
                    $('#showDetails').append(strdata);
                });
            },
            error: function (jqXHR, textStatus, err) {
                alert(err);
            }

        })
    }

    function Savsal() {
        var id = $("#ddlempdetail").val();
        var Sal = {
            empid: id,
            sal: "120000",
            saldate: $("#txtDob").val()
        }

        var ajaxRequest = $.ajax({
            url: '/api/APIGS/SaveSal',
            type: 'POST',
            data: JSON.stringify(Sal),
            contentType: 'application/json',
            success: function (data) {
                alert(data);
            },
            error: function (jqXHR, textStatus, err) {
                alert(err);
            }
        });
    }
</script>
