
@{
    ViewData["Title"] = "RedirectAdminLogout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mt-5">Logged Out Successfully <a href="~/AdminLogin/AdminLoginIndex">To Login</a></h1>

