
@{
    ViewData["Title"] = "RecordAttendance";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}


<h2 class="text-center font-weight-bolder">View Attendance</h2>
<br />

<div id="dvAttend">
    <div class="row">
        <div id="showAttend" class="mt-5">
            <table class="table table-striped table-responsive-md">
                <thead id="thead">
                    <tr>
                        <th>Total Days in Month</th>
                        <th>No of Days Present</th>
                        <th>No of Holidays</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <input id="btnrecord" type="button" value="Record Attendance" />
        </div>
    </div>
    <div class="row">
        <div id="showAttendDetails" class="mt-5">
            <table class="table table-striped table-responsive-md">
                <thead id="thead">
                    <tr>
                        <th>Total Days in Month</th>
                        <th>No of Days Present</th>
                        <th>No of Holidays</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>