
@{
    ViewData["Title"] = "TMember";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

<h2 class="text-center"><i class="fa fa-users"></i> Team Member</h2>

<div class="text-center" style="margin-top:40px;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="5" class="text-center">Team JellyBean</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><b>Mark Simmons</b></td>
                <td><b>Team Leader</b></td>
                <td><a href="mailto: mark212@gmail.com">mark212@gmail.com</a></td>
                <td><a href="tel:+12025550112">+1-202-555-0112</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><b>Linda Ray</b></td>
                <td><b>Tester</b></td>
                <td><a href="mailto: lindaray123@gmail.com">lindaray123@gmail.com</a></td>
                <td><a href="tel:+12025550113">+1-202-555-0113</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><b>Gordon Smith</b></td>
                <td><b>Developer</b></td>
                <td><a href="mailto: gordonsmith234@gmail.com">gordonsmith234@gmail.com</a></td>
                <td><a href="tel:+12025550114">+1-202-555-0114</a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><b>John Dow</b></td>
                <td><b>Developer</b></td>
                <td><a href="mailto: jhond@gmail.com">jhond@gmail.com</a></td>
                <td><a href="tel:+12025550115">+1-202-555-0115</a></td>
            </tr>
        </tbody>
    </table>
</div>

