
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>logout</title>
</head>
<body>
    <h1 class="text-center mt-5">Logged Out Successfully <a href="~/UserLogin/LoginIndex">To Login</a></h1>
</body>
</html>
