
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome <uppercase>@TempData["username"]</uppercase></h1>

@using(Html.BeginForm("Logout","UserLogin", FormMethod.Post))
{ 
<a href="~/UserLogin/RedirectLogout">Logout</a>
}

